@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght200&family=Sen&display=swap');

body{
  font-family: 'Montserrat';
  font-weight: 300;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 200;
  font-size: 200%;
  margin-block-start: 0em;
}

ul {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

header{
  display: flex;
  justify-content: center;
}

.blocks{
  padding: 0 200px
}

header a {
  text-decoration: none;
  color: #FFFAFA;
  animation: bounce;
  animation-duration: 2s;
}

header li{
  float:left;
  color: #b4aaaa;
}

header li.link {
  float:left;
  background: #b4aaaa;
  border-radius: 20%;
  -webkit-transition: all 1s ease-out 0.5s;
  -moz-transition: all 1s ease-out 0.5s;
  -o-transition: all 1s ease-out 0.5s;
  transition: all 1s ease-out 0.5s;
}

header a:hover {
  color: #b9b9b9;
  background-color: #505050;
}

header li.link:hover {
  background: #000000;
}

h1 {
  margin: 15px 0 50px 0;
  text-align: center;
  animation: jello;
  animation-duration: 3s;
  font-size: 250%;
}

.title {
  margin: 0 auto;
  text-align: center;
}

.brand-title {
    display: flex;
    align-items: center;
}

.img {
  margin: 50px auto 0;
  animation: heartBeat;
  animation-duration: 2.5s;
  max-width: 100%;
  padding: 10px;
}

header pre {
  font-family: 'Montserrat';
  animation: tada;
  animation-duration: 2s;
}

.logo{
  width: 25%;
  height: 25%;
  margin-right: 25px;
}

div[class^='block'], div[class*=' block']{
  padding: 30px 150px;
}

div[class^='block']:nth-child(odd), div[class*=' block']:nth-child(odd){
    background-color: #fcfcfc;
}

div[class^='block']:nth-child(odd).dark, div[class*=' block']:nth-child(odd).dark{
    background-color: #222;
    padding: 30px 150px;
}

.recipe-card{
  display: flex;
  text-align: left;
  align-items: center;
  padding: 25px;
  margin: 15px;
  border: 1px solid #eee;
  border-radius: 20px;
}

.recipe-card img{
  width: 20%;
  height: 20%;
  margin-right: 25px;
  border-radius: 20px;
}

.recipe-card a{
  display: contents;
  color: #000;
  text-decoration: none;
}

body.dark .recipe-card a{
  color: #fff;
}

.block03 h2{
  margin-top: 1em;
}

.recipe-card h3{
  margin-bottom: 10px;
  margin-block-start: 0;
  font-size: 150%;
}

body.dark{
  background-color: #111;
  color: #fff;
}

.navbar.dark{
  background-color: #222;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

h3, h4 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 20px 0 30px 0;
}

input, select, textarea {
    background: none;
    padding: 10px 20px;
    font-size: .9rem;
}

select {
    box-sizing: border-box;
    padding: 9px 20px 10px 20px;
}

textarea {
    display: block;
    margin-bottom: 20px;
}

input[type="color"] {
    padding: 8px 8px;
    position: relative;
    bottom: -2px;
}

input[type="date"] {
     padding: 8px 8px;
}

input[type="range"] {
     position: relative;
     bottom: -14px;
}

input[type="date"]:active, input[type="date"]:focus, input[type="color"]:active, input[type="color"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="email"]:active, input[type="email"]:focus, select:active, select:focus {
    border-radius: 0 !important;
    outline: none;
}

button {
    background: none;
    border: none;
    padding: 10px 20px;
    font-size: .9rem;
    cursor: pointer;
}

.out-block {
    font-size: 1rem;
    font-family: monospace;
}

.section {
    margin: 10px 0 10px 0;
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #c2c2c2;
}

.section div {
    margin-bottom: 20px;
}

.courses {
    margin-top: 40px;
}

.courses li {
    margin-bottom: 20px;
}

.courses a {
    color: #222;
}

.slider {
    width: 50%;
    max-width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 50px;
}

.slider-line {
    display: flex;
    background: transparent;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-line img{
  border-radius: 20px;
}

.block02 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 2450px) {
  * {
      box-sizing: border-box;
  }

  body {
      margin: 0;
      padding: 0;
  }

  .navbar {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: white;
  }

  .brand-title {
      font-size: 1.5rem;
      margin: .5rem;
  }

  .navbar-links {
      height: 100%;
  }

  .navbar-links ul {
      display: flex;
      margin: 0;
      padding: 0;
  }

  .navbar-links li {
      list-style: none;
  }

  .navbar-links li a {
      display: block;
      text-decoration: none;
      color: white;
      padding: 1rem;
  }

  .navbar-links li:hover {
      background-color: #555;
  }

  .toggle-button {
      position: absolute;
      top: 2.5rem;
      right: 1rem;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 21px;
  }

  .toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
  }
}

@media screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    div[class^='block'], div[class*=' block'], div[class^='block']:nth-child(odd), div[class*=' block']:nth-child(odd){
      padding: 30px 50px;
    }

    .recipe-card{
      flex-direction: column;
    }

    .recipe-card img{
      width: 80%;
      height: 80%;
      margin-right: 0;
      margin-bottom: 20px;
    }
}

@media screen and (max-width: 920px) {
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .slider-prev img, .slider-next img{
    width: 70%;
    height: 70%;
  }

  .block02{
    padding: 0 -200px !important;
  }
}
